#profile-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#profile-container{
    max-width: 1080px;
    background-color: white;
}

#profile-cover{
    min-height: 320px;
    background-image: url("https://picsum.photos/1080/320/?random");
    object-fit: cover;
}

#profile-card{
    background-color: rgba(255, 255, 255, 0.8);
}