{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    <title></title>
{% endblock title %}


{% block body %}
<div class="row justify-content-around">
    <div class="card p-3 mt-3 col-10 col-md-6">
        <h1>{% trans 'Sent' %}</h1>
        <p>{% trans 'We will email you the instructions for resetting your password if there is an account with the email you provided. You will receive the message soon.' %}</p>
        <p>{% trans 'If you do not receive an email, please make sure you entered the address you used to register, and check your spam folder.' %}</p>
    </div>
</div>
{% endblock body %}