{% load widget_tweaks %}
{% load i18n %}
<form class="form-group d-flex flex-column" action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <h3>{% trans 'Sign Up' %}</h3>

    {% if user_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in user_form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    {% if profile_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in profile_form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    

    {% for field in user_form.visible_fields%}
    <span class="mt-2">{{ field.label }}</span>
        {% if user_form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}
    {% endfor %}

    {% for field in profile_form.visible_fields %}
    <span class="mt-2">{{ field.label }}</span>
        {% if user_form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}
    {% endfor %}

    <div class="container-fluid p-0 mt-4">
        <div class="row m-0">
            <input class="col-12 col-md btn-primary p-2" type="submit" value="{% trans 'Create Account' %}">
            <a href="{% url 'login' %}" class="col-12 col-md btn-link btn-block p-2 text-center">{% trans 'Already have an account?' %}</a>
        </div>
    </div>
</form>