{% load i18n %}

<div class="card">
    <div class="card-body p-0">
        <div class="d-flex flex-column flex-wrap align-items-center justify-content-center p-3 m-0">

            {% if user.username == invitation.sender.user.username %}
                <img style="width: 50px; height: 50px; object-fit: cover;"
                 id="post-profile-thumbnail"
                 src="{{ invitation.receiver.photo.url }}"
                 class="img-thumbnail">
                <a href="{% url 'profile' invitation.receiver.user.username %}" class="text-center">
                <h5 class="card-title d-inline m-0 ml-2">{{ invitation.receiver.user.get_full_name }}</h5>
                </a>

                <div class="btn-group flex-wrap d-inline-flex mx-auto pt-2">
                <button onclick="call_url('{% url 'cancel_invitation' invitation.id %}')"
                        class="btn btn-danger mb-2 btn-sm">{% trans 'Cancel invitation' %}</button>
                </div>
            {% elif user.username == invitation.receiver.user.username %}
                <img style="width: 50px; height: 50px; object-fit: cover;"
                 id="post-profile-thumbnail"
                 src="{{ invitation.sender.photo.url }}"
                 class="img-thumbnail">
                <a href="{% url 'profile' invitation.sender.user.username %}" class="text-center">
                    <h5 class="card-title d-inline m-0 ml-2">{{ invitation.sender.user.get_full_name }}</h5>
                </a>

                <div class="btn-group flex-wrap d-inline-flex flex-column mx-auto pt-2">
                    <button onclick="call_url('{% url 'accept_invitation' invitation.id %}')"
                        class="btn btn-success mb-2 btn-sm">{% trans 'Accept invitation' %}</button>
                    <button onclick="call_url('{% url 'decline_invitation' invitation.id %}')"
                        class="btn btn-danger mb-2 btn-sm">{% trans 'Decline invitation' %}</button>
                </div>
            {% endif %}

        </div>
    </div>
</div>