body{
    background-color: #f5f5f5;
}

.bg-white{
    background-color: white;
}

.bg-light-gray{
    background-color: #f5f5f5;
}

.carousel-item {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}