{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}" async defer></script>
    <script src="{% static 'js/main.js' %}" async></script>
    {% block title %}
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<main class="container-fluid d-inline-flex flex-column min-vh-100 p-0">

    {% for message in messages %}
        <div id="message" class="row fixed-bottom mx-5 my-3 justify-content-center fade show">
            <div class="alert {{ message.tags }} alert-dismissible d-inline" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        {% include 'nav_header_logged.html' %}
    {% else %}
        {% include 'nav_header.html' %}
    {% endif %}
    <div class="row flex-grow-1 p-0 m-0">
        <div class="col-12 p-0">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</main>

<script>
    $( document ).ready(function () {
        var message = $("#message");
        setTimeout(function(){ message.removeClass('show'); }, 2000);
    })
</script>

</body>
</html>